$fontPoppins : 'Poppins', sans-serif;
$fontPoor : 'Poor Story', cursive;
$pfontsize : 18px;
$pfontsizem : 17px;
$h2fontsize : 3.5rem;
$darkbg : #212529;
$sectionbg : #fafafa;
$primaryBtn : #E40C73;
$outlineBtn : #ffffff;
$BtnTextWhite : #ffffff;
$BtnTextDark : #212529;
$headerDark : #212529;
$headerWhite : #ffffff;
$textColor : #616161;